@import '../../../styleHelpers/defaultReset.scss';

$theme: rgb(165, 27, 108);

.videoControls{
    display:flex;
    width:100%;
    height:100%;
    position: absolute;
}

.videoHover{
    @include flexCenter;
    width:100%;
    height:100%;
    color:white;
    cursor: pointer;
    font-size: 3vw;
    transition:.1s;
    &:hover{
        color:$theme;
    }
}

.iconVanish{
    opacity: 0;
    transition: .2s;
}

.iconShow{
    opacity: 1;
    transition: .2s;
}

.controlPanel{
    @include defaultReset;
    position: absolute;
    bottom:20px;
    height:50px;
    width:100%;
    display:flex;
    align-items: center;
    color:white;
    padding:0px 20px;
    transition: .2s;
}

.controlPanelHidden{
    opacity: 0;
    transition: .2s;
}

.playButton{
    @include buttonReset;
    @include flexCenter;
    height:40px;
    width:40px;
    transition:.2s;
    color:white;
    &:hover{
        color: $theme;
    }
    img{
        width:20px;
        height:20px;
    }
}

.timeButton{
    @include buttonReset;
    @include flexCenter;
    height:40px;
    width:40px;
    color:white;
    &:hover{
        color: $theme;
    }
}

@mixin thumb{
    width:12px;
    height:12px;
    border-radius:10px;
    background-color: $theme;
}

.volumeRange{
    position: absolute;
    transform: rotate(-90deg) translateX(0px);
    height:2px;
    width:80px;
    transition: .2s;
    outline: none;
    appearance: none;
    background-color: rgb(255, 228, 245);
    border-radius:2px;
    opacity: 0;
    cursor: pointer;
    &::-webkit-slider-thumb{
        -webkit-appearance: none;
        @include thumb;
    }
    &::-moz-range-thumb{
        @include thumb;
    }
    &::-ms-thumb{
        @include thumb;
    }
}

.volumeButton{
    @include buttonReset;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    height:40px;
    width:40px;
    transition: .2s;
    cursor: pointer;
    &:hover{
        color:$theme;
    }
    &:hover .volumeRange{
        opacity: 1;
        transform: rotate(-90deg) translateX(60px);
    }
}

.timeBar{
    height:5px;
    width:90%;
    background-color: rgba(53, 53, 53, 0.5);
    border-radius: 5px;
    margin:0px 20px;
    overflow: hidden;
    position: relative;
}

.loadedBar{
    width:100%;
    height:5px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10;
    position: absolute;
    transition:1s;
}
.currentBar{
    width:100%;
    height:5px;
    background-color: $theme;
    z-index:999;
    position: absolute;
    transition:1s;
}